.discussion {

    @media screen and (max-width: $bp-large) {
        padding: 0 5%;
    }

    form {
        // padding: 0 15%;
        margin-bottom: 3rem;
    }

    &__comments {
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 3rem;
        margin-bottom: 5rem;
    }
}