.edit {
    display: flex;
    flex-direction: column;
    color: var(--color-neutral);
    padding: 0 6%;
    margin-bottom: 5rem;

    small {
        margin-bottom: .4rem;
        color: var(--color-neutral-alt);
    }

    &__heading {
        text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
        margin: 3rem auto;
    }

    &__social {
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2rem;

        button {
            margin: 0 auto;
        }
    }
}