.landing {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: minmax(min-content, 60rem) 1fr;
    height: 100%;

    &__inner {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom left, var(--color-neutral-alt-3) -20%, var(--color-neutral-alt-4) 100%);

        @media screen and (max-width: $bp-small) {
            grid-column: 1 / -1;
        }
    }

    &__inner-logo {
        align-self: flex-start;
        font-family: var(--font-display);
        font-size: 2rem;
        margin: 6% 6% 20vh;

        @media screen and (min-width: $bp-desktop) {
            opacity: 0;
        }

        span {
            font-weight: 500;
        }
    }

    &__main {
        width: 100%;
        text-align: center;
    }

    &__hero {
        grid-column: 2 / -1;
        display: flex;
        justify-content: start;
        background: url("../img/showcase-large.jpg");
        background-size: cover;
        background-position: left;

        @media screen and (max-width: $bp-larger) {
            background: url("../img/showcase-small.jpg");
            background-position: top;
            background-size: cover;
        }

        @media screen and (max-width: $bp-desktop) {
            background: url("../img/showcase-min.jpg");
            background-position: center;
            background-size: cover;
        }

        @media screen and (max-width: $bp-small) {
            display: none;
        }

        figcaption {
            text-align: left;
            color: var(--color-neutral-alt-3);
            padding: 10vh 9vw;
            

            @media screen and (max-width: $bp-medium) {
                padding: 12vh 5vw;
            }

            h2 {
                font-size: 12rem;
                font-weight: 600;
                text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
                opacity: .5;
                // margin: 0;
                @media screen and (max-width: $bp-medium) {
                    font-size: 5rem;
                }
            }

            p {
                font-size: 3rem;
                font-weight: 300;
                opacity: .5;

                @media screen and (max-width: $bp-medium) {
                    font-size: 2.5rem;
                }
            }
        }
    }
}