.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px rgba(var(--primary-color), 1);
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: rgba(var(--primary-color), 1);
    }
  }

  .welcome {
    span {
      margin-right: 0.6rem;
    }
  }
}