.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  border-radius: 3px;

  & > div:first-child {
    text-align: center;
  }

  img {
    width: 100px;
  }

  &__form-header {
    background: rgba(var(--primary-color), 1);
    padding: 0.5rem;
  }

  .comment-count {
    background: rgba(var(--light-color), 1);
    color: inherit;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }

  .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}