.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;

  &__grid {
    display: grid;
    grid-template-areas:
      'top top'
      'about about'
      'exp edu'
      'github github';
    grid-gap: 1rem;
  }

  &__top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }

    .icons a {
      color: #fff;
      margin: 0 0.3rem;

      &:hover {
        color: var(--dark-color);
      }
    }
  }

  &__about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__exp {
    grid-area: exp;
  }

  &__edu {
    grid-area: edu;
  }

  &__exp,
  &__edu {
    
    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin: 0.5rem 0;
    }

    > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #ccc 1px dotted;

      &:last-child {
        border: 0;
      }
    }
  }

  &__github {
    grid-area: github;

    .repo {
      display: flex;

      > div {
        &:first-child {
          flex: 7;
          flex-basis: 70%;
        }
        &:last-child {
          flex: 3;
          flex-basis: 20%;
        }
      }
    }
  }
}