.btn {
    cursor: pointer;
    font-family: var(--font-primary);
    border-radius: 3px;

    &--primary {
        border: none;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: var(--color-primary);
        color: var(--color-neutral-alt-4);
        padding: 1rem 2rem;
        box-shadow: -2px 2px 6px rgba(0, 0, 0, .6);
        transition: all .2s;

        &:active {
            box-shadow: 0 0 4px rgba(0, 0, 0, .6);
            transform: translate(-2px, 2px);
        }
    }

    &--login {
        @extend .btn--primary;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.8rem;
        text-align: left;

        i {
            font-size: 1.1rem;
            margin-left: 1.1rem;
            transform: translateY(1px);
            transition: all .2s;
        }

        &:active i {
            transform: translateX(.5rem);
        }
    }

    &--secondary {
        font-size: 1.6rem;
        color: var(--color-primary);
        background-color: transparent;
        border: 1px solid var(--color-primary);
        padding: 1rem 1.8rem;
        transition: box-shadow .1s ease-in-out;

        &:hover,
        &:focus {
            color: var(--color-primary-alt);
            box-shadow: 0 0 0 1px var(--color-neutral-alt-4), 0 0 0 2px currentColor;
        }

        &:active {
            box-shadow: 0 0 0 1px var(--color-neutral-alt-4), 0 0 4px 2px currentColor;
        }
    }

    &--tertiary {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--color-neutral-alt-2);
        background-color: rgba(0, 0, 0, .2);
        border: none;
        padding: 1rem 1.8rem;
        transition: all .2s;

        &:hover {
            color: var(--color-primary);
        }
    }

    &--return {
        @extend .btn--tertiary;
        font-size: 1.6rem;
        border-radius: 100px;
        padding: 0;
        margin: 0 auto 3rem 0;

        i {
            padding: 1rem 1.1rem;
        }
    }
}