.checkbox {
    display: inline-grid;
    justify-items: center;
    align-items: center;

    &:hover &__check {
        box-shadow: 0 0 0 1px var(--color-neutral-alt-4), 0 0 0 2px var(--color-primary);
    }

    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    &__input {
        opacity: 0;
        z-index: 1;

        &:checked + .checkbox__check {
            box-shadow: 0 0 0 1px var(--color-neutral-alt-4), 0 0 0 2px var(--color-primary);

            i {
                transform: scale(.8);
            }
        }
    }

    &__check {
        width: 2rem;
        height: 2rem;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 3px;
        transition: all .2s;

        i {
            transform: scale(0);
            transition: all .2s;
        }
    }

    &__label {
        margin-left: .5rem;
    }
}