.post {
    // border: 1px solid var(--color-neutral);
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, .4);
    padding: 2rem;
    transition: all .2s;

    &:hover, &:focus {
        transform: translateY(-12px);
        box-shadow: -16px 16px 18px rgba(0, 0, 0, .4);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__user {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        align-items: center;

        img {
            width: 3rem;
            border-radius: 50%;
        }

        p {
            font-size: 2rem;
        }
    }

    &__date {
        color: var(--color-neutral-alt-3);
    }

    &__text {
        font-size: 2rem;
        color: var(--color-neutral);
        padding: 4rem 3rem;
    }

    &__actions {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 4rem;
        width: 100%;

        > * {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
        }
    }

    &__likes {
        justify-self: start;

        &:hover {
            color: var(--color-success-alt-2);
            background-color: var(--color-success-alt);

            .post__likes-count sup {
                color: var(--color-success-alt-2);
            }
        }

        &--active {
            color: var(--color-success);
        }
    }

    &__likes-count {

        sup {
            font-weight: 700;
            color: var(--color-success);
            padding: 0 .5rem;
        }
    }

    &__discussion {
        justify-self: center;
    }

    &__comment-count {

    }

    &__delete {
        justify-self: end;

        &:hover {
            color: var(--color-danger-alt-2);
            background-color: var(--color-danger-alt);
        }
    }
}