.post {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, .4);
    padding: 2rem;
    transition: all .2s;

    &:hover, &:focus {
        transform: translateY(-12px);
        box-shadow: -16px 16px 18px rgba(0, 0, 0, .4);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__user {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        align-items: center;

        img {
            width: 3rem;
            border-radius: 50%;
        }

        p {
            font-size: 2rem;
        }
    }

    &__date {
        color: var(--color-neutral-alt-3);
    }

    &__text {
        padding: 4rem 3rem;

        > * {
            font-size: 2rem;
            color: var(--color-neutral);
        }
    }

    &__actions {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 4rem;
        width: 100%;

        > * {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
        }
    }

    &__likes {
        justify-self: flex-start;

        &:hover {
            color: var(--color-success-alt-2);
            background-color: var(--color-success-alt);

            .post__likes-count {
                color: var(--color-success-alt-2);
            }
        }

        &--active {
            color: var(--color-success);
        }
    }

    &__discussion {
        justify-self: center;

        &:hover .post__comment-count {
            color: var(--color-primary-alt-2);
        }
    }

    &__likes-count,
    &__comment-count {
        font-weight: 700;
        padding: 0 .5rem;
    }

    &__likes-count {
        color: var(--color-success);
    }

    &__comment-count {
        color: var(--color-primary);
    }

    &__delete {
        grid-column: 3 / -1;
        justify-self: flex-end;

        &:hover {
            color: var(--color-danger-alt-2);
            background-color: var(--color-danger-alt);
        }
    }

    &--selected {
        box-shadow: none;

        &:hover, &:focus {
            transform: none;
            box-shadow: none;
        }
    }

    &--comment {
        background: none;
        box-shadow: none;

        &:hover, &:focus {
            transform: none;
            box-shadow: none;
        }

        .post__date, .post__user p {
            // color: rgba(0, 0, 0, .8);
            font-size: 1.8rem;
            font-weight: normal;
            color: var(--color-neutral-alt-2);
        }

        .post__text {
            // text-align: center;
            font-size: 1.8rem;
        }
    }
}