.table {
    margin: 6rem 0;
    font-size: 1.6rem;

    &__header {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1rem;
        color: var(--color-neutral-alt);

        @media screen and (max-width: $bp-mobile) {
            justify-content: center;
        }

        a {
            border-radius: 150px;
            color: var(--color-success-alt);
            padding: 1rem;
            margin-left: 1rem;

            &:hover {
                color: var(--color-success-alt-2);
                background-color: var(--color-success-alt);
            }
        }

        // a {
        //     padding: .8rem;
        //     color: var(--color-success-alt);
        //     transition: all .2s;

        //     &:hover {
        //         text-shadow: 0 0 3px currentColor;
        //     }
        // }
    }

    &__content {
        width: 100%;

        th,td {
            padding: 1rem;
            text-align: left;
        }

        th {
            color: rgba(0, 0, 0, .8);
            background: var(--color-neutral);
            box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
            border-radius: 3px;
        }

        td {
            color: var(--color-neutral);
            text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
        }
    }

    &__delete-item {
        text-align: center !important;

        button {
            border-radius: 150px;
            // background-color: transparent;

            &:hover {
                color: var(--color-danger-alt-2);
                background-color: var(--color-danger-alt);
            }
        }
    }

    // &__delete-item {
    //     cursor: pointer;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    //     background-color: transparent;
    //     border: none;

    //     i {
    //         font-size: 1.6rem;
    //         color: var(--color-danger);
    //         transition: all .2s;
    //     }

    //     &:hover i {
    //         text-shadow: 0 0 3px currentColor;
    //     }
    // }
}