:root {
    --font-primary: "Quicksand", sans-serif;
    --font-display: "Montserrat", sans-serif;
}

$bp-medium: 900px;
$bp-small: 700px;
$bp-mobile: 500px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;

    @media screen and (max-width: $bp-medium) {
        font-size: 9px;
    }

    @media screen and (max-width: $bp-mobile) {
        font-size: 8px;
    }
}

body {
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    color: #7B8794;
    width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    font-family: var(--font-display);
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    color: #F9703E;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
}

p {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #7B8794;
}

.line {
    width: 88%;
    height: 5px;
    margin: 3rem auto;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(255, 255, 255, 0));
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .6), transparent);
    opacity: .15;
}

.page {
    display: grid;
    grid-template-rows: 60px minmax(calc(100vh - 60px), min-content);
    background: linear-gradient(to bottom left, #323F4B 0%, #1F2933 100%);
    //background-color: #1F2933;

    &__content {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns:
        [full-start] 1fr [center-start]
        repeat(8, [col-start] minmax(min-content, 14rem) [col-end] )
        [center-end] 1fr [full-end];

        > * {
            grid-column: center-start / center-end;
        }
    }
}

// .nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: rgba(0, 0, 0, .4);
//     padding: 0 2.2rem;

//     &__logo {

//         .fa-code {
//             font-size: 22px;
//             color: #CBD2D9;
//             transition: all .2s;

//             &:hover {
//                 color: #F9703E;
//             }
//         }
//     }

//     &__links {
//         display: flex;
//         justify-content: space-between;

//         li {

//             &:not(:last-child) {
//                 margin-right: 2.5rem;
//             }
//         }

//         a {
//             font-size: 18px;
//             color: #CBD2D9;
//             transition: all .2s;

//             &:hover {
//                 color: #F9703E;
//             }
//         }
//     }
// }

@keyframes alert {
    0% {
        height: 0;
    }
    100% {
        height: 40px;
    }
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: #1F2933;
    animation: alert .3s ease;

    &--success {
        background-color: #57AE5B;
        border-bottom: 3px solid #2F8132;
    }

    &--danger {
        background-color: #F29B9B;
        border-bottom: 3px solid #D64545;
    }
}

.landing {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: minmax(min-content, 60rem) 1fr;
    height: 100%;

    &__inner {
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom left, #323F4B -20%, #1F2933 100%);

        @media screen and (max-width: 700px) {
            grid-column: 1 / -1;
        }

        .codelink {
            align-self: flex-start;
            font-size: 2rem;
            margin: 6% 6% 20vh;

            span {
                font-weight: 500;
            }
        }
    }

    &__main {
        width: 100%;
        text-align: center;
    }

    &__hero {
        grid-column: 2 / -1;
        background: url("../img/showcase.jpg");
        background-size: cover;
        background-position: right;

        @media screen and (max-width: 900px) {
            background-position: center;
        }

        @media screen and (max-width: 700px) {
            display: none;
        }
    }
}

.btn {
    cursor: pointer;
    font-family: var(--font-primary);
    border-radius: 3px;

    &--primary {
        border: none;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: #F9703E;
        color: #1F2933;
        padding: 1rem 2rem;
        box-shadow: -2px 2px 6px #000;
        transition: all .2s;

        &:active {
            box-shadow: 0 0 4px #000;
            transform: translate(-2px, 2px);
        }
    }

    &--login {
        @extend .btn--primary;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.8rem;
        text-align: left;

        i {
            font-size: 1.1rem;
            margin-left: 1.1rem;
            transform: translateY(1px);
            transition: all .2s;
        }

        &:active i {
            transform: translateX(.5rem);
        }
    }

    &--secondary {
        font-size: 1.6rem;
        color: #F9703E;
        background-color: transparent;
        border: 1px solid #F9703E;
        padding: 1rem 1.8rem;
        transition: box-shadow .1s ease-in-out;

        &:hover,
        &:focus {
            color: #FF9466;
            box-shadow: 0 0 0 1px #1F2933, 0 0 0 2px currentColor;
        }

        &:active {
            box-shadow: 0 0 0 1px #1F2933, 0 0 4px 2px currentColor;
        }
    }

    &--tertiary {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 600;
        color: #7B8794;
        background-color: rgba(0, 0, 0, .2);
        border: none;
        padding: 1rem 1.8rem;
        transition: all .2s;

        &:hover {
            color: #F9703E;
        }
    }
}

.form {
    padding: 0 6%;

    &__group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        h4 {
            margin-right: 1rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="date"],
        textarea,
        select {
            font-family: var(--font-primary);
            width: 100%;
            height: 4rem;
            padding: .5rem;
            margin: 0 auto;
            border-radius: 3px;
            border: none;
        }

        input[type="date"] {
            width: auto;
            height: 3rem;
            margin: 0;
        }

        textarea {
            height: 10rem;
        }

        select {
            margin-left: 0;
            width: 20rem;

            option {
                font-family: var(--font-primary);
            }
        }

        &--social {
            display: grid;
            grid-template-columns: min-content auto;
            grid-gap: 1rem;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                color: #4C63B6;
            }
        }
    }

    &__text {
        align-self: start;
        text-align: left;
        font-size: 1.4rem;
    }
}

.checkbox {
    display: inline-grid;
    justify-items: center;
    align-items: center;

    &:hover &__check {
        box-shadow: 0 0 0 1px #1F2933, 0 0 0 2px #F9703E;
    }

    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }

    &__input {
        opacity: 0;
        z-index: 1;

        &:checked + .checkbox__check {
            box-shadow: 0 0 0 1px #1F2933, 0 0 0 2px #F9703E;

            i {
                transform: scale(.8);
            }
        }
    }

    &__check {
        width: 2rem;
        height: 2rem;
        color: #F9703E;
        border: 1px solid #F9703E;
        border-radius: 3px;
        transition: all .2s;

        i {
            transform: scale(0);
            transition: all .2s;
        }
    }

    &__label {
        margin-left: .5rem;
    }
}

.login {

    &__heading {
        margin-bottom: 5rem;
    }

    &__switch {
        margin-top: 4rem;
        
        a {
            color: #F9703E;
        }
    }
}

.register {
    
    &__heading {
        @extend .login__heading;
    }

    &__form-group {
        // @extend .login__form-group;
    }

    &__submit {
        // @extend .login__submit;
        width: 11rem;
    }

    &__switch {
        @extend .login__switch;
    }
}

.guest {
    text-decoration: none;
    font-size: 1.2rem;
    
    span {
        color: #F9703E;
    }
}

.dashboard {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, calc(14rem * 8)) 1fr;
    grid-auto-rows: min-content;
    align-items: center;
    text-align: center;

    > * {
        grid-column: 2 / 3;
    }

    &__heading {
        font-size: 5.5rem;
        //font-weight: 600;
        //background-color: rgba(0, 0, 0, .4);
        color: #F9703E;
        border-radius: 3px;
        margin-bottom: 1rem;
    }

    &__welcome {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 8rem 17% 12rem;
        font-size: 1.6rem;
        color: #9AA5B1;
        background: url("../img/banner.jpg");
        background-size: cover;
        //background-color: rgba(255, 176, 136, .4);

        h3 {
            //font-weight: 500;
            //background-color: rgba(0, 0, 0, .4);
            border-radius: 3px;
        }
    }

    &__actions {
        display: flex;
        justify-content: start;
        margin: 3rem 6.5%;

        @media screen and (max-width: $bp-mobile) {
            justify-content: center;
        }
    }

    &__delete-account {
        margin-left: 1rem;

        &:hover {
            color: #D64545;
        }
    }

    &--new {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;

        h2 {
            font-size: 3rem;
            color: #9AA5B1;
        }

        a {
            margin: 2rem auto;
        }
    }
}

.experience {
    margin: 6rem 6%;
    font-size: 1.6rem;

    &__heading {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1rem;
        color: #9AA5B1;

        @media screen and (max-width: $bp-mobile) {
            justify-content: center;
        }

        a {
            padding: .8rem;
            color: #57AE5B;
            transition: all .2s;

            &:hover {
                text-shadow: 0 0 3px currentColor;
            }
        }
    }

    &__table {
        width: 100%;

        th {
            color: rgba(0, 0, 0, .8);
            background: #CBD2D9;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
            border-radius: 3px;
        }

        td {
            color: #CBD2D9;
            text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
        }

        th,td {
            padding: 1rem;
            text-align: left;
        }
    }

    &__delete-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: none;

        i {
            font-size: 1.6rem;
            color: #D64545;
            transition: all .2s;
        }

        &:hover i {
            text-shadow: 0 0 3px currentColor;
        }
    }
}

.education {
    @extend .experience;

    &__heading {
        @extend .experience__heading;
    }

    &__table {
        @extend .experience__table;
    }

    &__delete-item {
        @extend .experience__delete-item;
    }
}

.edit {
    display: flex;
    flex-direction: column;
    color: #CBD2D9;

    > *:not(.form) {
        margin-left: 6%;
    }

    small {
        margin-bottom: .4rem;
        color: #9AA5B1;
    }

    input[type="submit"] {
        display: block;
        margin-left: auto;
    }

    &__heading {
        text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
        margin-bottom: 3rem;
    }

    &__social {
        margin-bottom: 2rem;
    }
}

.profiles {
    margin-top: 3rem;

    &__heading {
        text-align: center;
        margin-bottom: 4rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 6rem;
        padding: 0 4rem;

        @media screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            padding: 0 12vw;
        }

        @media screen and (max-width: $bp-small) {
            padding: 0 8vw;
        }

        @media screen and (max-width: $bp-mobile) {
            padding: 0 6vw;
        }

        // > *:not(:last-child) {
        //     margin-bottom: 6rem;
        // }
    }

    
}

.card {
    display: flex;
    flex-direction: column;
    // grid-auto-rows: min-content;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: -4px 4px 6px rgba(0, 0, 0, .4);
    // border: 3px solid #FF9466;
    border-radius: 6px;
    transition: all .2s;

    &:hover, &:focus {
        transform: translateY(-12px);
        box-shadow: -16px 16px 18px rgba(0, 0, 0, .4);
    }

    &__avatar {
        height: 40rem;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        @media screen and (max-width: $bp-medium) {
            height: 50rem;
        }

        img, i {
            width: 100%;
            height: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        
        img {
            display: block;
            object-fit: cover;
            object-position: top;
        }

        i {
            color: #1c1c1c;
            font-size: 40rem;
            padding: 8% 0 0;
            width: 100%;
            height: 100%;
            background-color: #2D3A8C;

            @media screen and (max-width: $bp-medium) {
                padding: 8rem 0 0;
                font-size: 55rem;
            }

            @media screen and (max-width: $bp-mobile) {
                padding: 12rem 0 0;
                font-size: 40rem;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: min-content min-content 1fr;
        height: 230px;
        // min-height: 220px;
        // max-height: 250px;
        padding: 2rem;
    }

    &__name {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #CBD2D9;
    }

    &__button {
        grid-column: 3 / -1;
        font-size: 14px;
        font-weight: normal;
    }

    &__details {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    &__company {

    }

    &__location {

    }

    &__skills {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        align-self: end;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        font-style: italic;
        color: #3F9142;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 3px;
        padding: 2rem;
        margin-top: 5rem;
    }
}

.return {
    font-size: 1.6rem;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto 3rem 0;

    i {
        padding: 1rem 1.1rem;
    }
}

.hide {
    &--sm {
        @media screen and (max-width: $bp-mobile) {
            display: none;
        }
    }
}