:root {
    --font-primary: "Titillium", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    font-family: var(--font-primary);
}

body {
    box-sizing: border-box;
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 1.6rem;
}

.page {
    display: grid;
    grid-template-rows: 60px minmax(calc(100vh - 60px), min-content);
    background: linear-gradient(to bottom left, #323F4B 0%, #1F2933 100%);

    &__content {
        grid-column: 2 / -1;
        grid-template-columns: 
        [full-start] 1fr [center-start] 
        repeat(8, [col-start] minmax(min-content, 16rem) [col-end] ) 
        [center-end] 1fr [full-end];
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;

    &__logo {

        .fa-code {
            font-size: 2.2rem;
            color: #7B8794;
            transition: all .2s;
            // text-shadow: -1px -1px 1px #000, 1px 1px 1px #323F4B;
            
            &:hover {
                color: #F9703E;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;

            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }

        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: #7B8794;
            transition: all .2s;

            &:hover {
                color: #F9703E;
            }
        }
    }
}

.landing {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100%;
    // background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/showcase.jpg");
    // background-size: cover;

    &__inner {
        color: #7B8794;
        grid-column: 1 / 2;
        align-self: center;
        text-align: center;

        p {
            margin: 4rem 0 5rem;
        }
    }

    &__hero {
        grid-column: 2 / -1;
        background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/showcase.jpg");
        background-size: cover;
    }
}

.btn-thick {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    color: orange;
    border: 1px solid orange;
    width: 10rem;
    height: 4rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(4px);
        z-index: -1;
        transition: all .3s;
    }

    &:active {

        &::before {
            transform: translateY(0);
        }
    }
}