:root {
    --font-primary: "Quicksand", sans-serif;
    --font-display: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    font-family: var(--font-primary);
}

body {
    box-sizing: border-box;
}

h1,h2,h3,h4 {
    font-family: var(--font-display);
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.6rem;
}

.line {
    width: 88%;
    height: 1px;
    margin: 3rem auto;
    background-color: hsl(16, 94%, 61%);
    opacity: .5;
}

.page {
    display: grid;
    grid-template-rows: 60px minmax(calc(100vh - 60px), min-content);
    background: linear-gradient(to bottom left, #323F4B 0%, #1F2933 100%);

    &__content {
        grid-column: 2 / -1;
        grid-template-columns: 
        [full-start] 1fr [center-start] 
        repeat(8, [col-start] minmax(min-content, 16rem) [col-end] ) 
        [center-end] 1fr [full-end];
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;

    &__logo {

        .fa-code {
            font-size: 2.2rem;
            color: #7B8794;
            transition: all .2s;
            
            &:hover {
                color: #F9703E;
            }
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;

            &:not(:last-child) {
                margin-right: 2.5rem;
            }
        }

        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: #7B8794;
            transition: all .2s;

            &:hover {
                color: #F9703E;
            }
        }
    }
}

.landing {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: minmax(min-content, 60rem) 1fr;
    height: 100%;

    &__inner {
        color: #7B8794;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;

        .codelink {
            align-self: flex-start;
            font-size: 2rem;
            margin: 6% 6% 30vh;

            i {
                color: #F9703E;
            }
        }
    }

    &__main {
        width: 100%;
        text-align: center;
    }

    &__hero {
        grid-column: 2 / -1;
        background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../img/showcase.jpg");
        background-size: cover;
        background-position: center;
    }
}

.login {

    &__heading {
        margin-bottom: 4%;
    }

    &__switch {
        margin-top: 6%;
    }
}