.test {
  font-family: var(--font-display);
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: rgba(var(--light-color), 1);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: rgba(var(--light-color), 1);
  color: #333;
}

.badge-primary,
.alert-primary {
  background: rgba(var(--primary-color), 1);
  color: rgba(var(--dark-color), 1);
}

.bg-light,
.badge-light,
.alert-light {
  background: rgba(var(--dark-color), 1);
  color: rgba(var(--light-color), 1);
}

.bg-dark,
.badge-dark,
.alert-dark {
  background: rgba(var(--dark-color), 1);
  color: rgba(var(--light-color), 1);
}



.bg-danger,
.badge-danger,
.alert-danger {
  background: rgba(var(--danger-color), 1);
  color: rgba(var(--light-color), 1);
}

.bg-success,
.badge-success,
.alert-success {
  background: rgba(var(--success-color), 1);
  color: rgba(var(--success-color), 1);
}

.bg-white,
.badge-white,
.alert-white {
  background: rgba(var(--light-color), 1);
  color: rgba(var(--dark-color), 1);
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}