*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.6;
    background-color: rgba(var(--light-color), 1);
    color: rgba(var(--dark-color), 1);
}

a {
    color: rgba(var(--primary-color), 1);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}