:root {
    --font-primary: "Quicksand", sans-serif;
    --font-display: "Montserrat", sans-serif;
}

$bp-medium: 900px;
$bp-small: 700px;
$bp-mobile: 500px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;

    @media screen and (max-width: $bp-medium) {
        font-size: 9px;
    }

    @media screen and (max-width: $bp-mobile) {
        font-size: 8px;
    }
}

body {
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    color: #7B8794;
    width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    font-family: var(--font-display);
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    color: #F9703E;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
}

p {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #7B8794;
}