:root {
    --font-primary: "Quicksand", sans-serif;
    --font-display: "Montserrat", sans-serif;

    --color-primary: #F9703E;
    --color-primary-alt: #FF9466;
    --color-primary-alt-2: #841003;

    --color-secondary: #2D3A8C;
    --color-secondary-alt: #4C63B6;

    --color-neutral: #CBD2D9;
    --color-neutral-alt: #9AA5B1;
    --color-neutral-alt-2: #7B8794;
    --color-neutral-alt-3: #323F4B;
    --color-neutral-alt-4: #1F2933;

    --color-success: #2F8132;
    --color-success-alt: #57AE5B;
    --color-success-alt-2: #0E5814;

    --color-danger: #BA2525;
    --color-danger-alt: #F29B9B;
    --color-danger-alt-2: #911111;
}

$bp-medium: 900px;
$bp-small: 700px;
$bp-mobile: 500px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;

    @media screen and (max-width: $bp-medium) {
        font-size: 9px;
    }

    @media screen and (max-width: $bp-mobile) {
        font-size: 8px;
    }
}

body {
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    color: var(--color-neutral-alt-2);
    width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4 {
    font-family: var(--font-display);
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    color: var(--color-primary);
    text-shadow: -2px 2px 2px rgba(0, 0, 0, .4);
}

p {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-neutral-alt-2);
}

i {
    margin-top: -1px;
}